<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to root_path, class: 'navbar-item' do %>
        <%= image_tag 'logo', alt: 'mukinator' %>
      <% end %>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <%= link_to '#', class: 'navbar-item' do %>
          お悩み追加依頼
        <% end %>
        <%= link_to 'https://docs.google.com/forms/d/e/1FAIpQLSew177mPibuqivqlC9ilaTS1It9aG2tTL3zAokK8HgjnuLXJA/viewform?usp=sf_link', class: 'navbar-item' do %>
          お問い合わせ
        <% end %>
        <%= link_to '#', class: 'navbar-item' do %>
          利用規約
        <% end %>
      </div>
    </div>
  </nav>
</header>