<% content_for(:title, t('.title')) %>
<main>
  <div class="p-6">
    <h1 class='result-title'>解決策</h1>
  </div>

  <!-- ローディングページ -->
  <div id="loading">
    <%= render 'wise_sayings', word: @word %>
  </div>

  <!-- 解決策ページ -->
  <div id="wrap">
    <div id='resut_wrapper' class='result is-size-1' >
      <div class="trouble-area">
        <p class='result-name is-opacity' id='result-name'><%= @result.name %>さんのお悩みは、</p>
        <p class='trouble-name is-opacity' id='trouble-name'>「<%= @result.reason.trouble.name %>」</p>
        <div class="reason-area p-4">
          <p class='result-text pt-3 is-opacity' id='result-text'>解決方法は、</p>
          <p class='solution is-opacity mt-2 mb-2' id='solution'>筋トレ</p>
          <p class='result-reason is-size-1 is-opacity' id='result-reason'><%=@result.reason.name%></p>
        </div>
      </div>

      <div class='column is-8 is-offset-2 pt-6 pb-6'>
        <%= image_tag 'result_img', class: 'is-opacity', id: 'result-img'%>
      </div>

      <div class="wise-saying-area pt-6">
        <p class='wise-saying-label is-opacity' id='wise-saying-label'>~筋トレ名言~</p>
        <p class='wise-saying pl-2 pr-2 is-opacity' id='wise-saying'><%= @word.name %></p>
        <p class='syawing-person is-size-1 is-opacity' id='syawing-person'><%= @word.people %></p>
      </div>
    </div>

  <!-- YouTube動画表示エリア -->
    <div class="youtube-videos p-6"> 
      <p class='is-size-1'>YouTube動画</p>
      <div class="youtube-video p-5">
        <%= content_tag 'iframe', nil, width: 500, height: 300, src: "#{@video[0].video}", \
            frameborder: 0, gesture: 'media', allow: 'encrypted-media', allowfullscreen: true %>
      </div>

      <div class="youtube-video p-5">
        <%= content_tag 'iframe', nil, width: 500, height: 300, src: "#{@video[1].video}", \
            frameborder: 0, gesture: 'media', allow: 'encrypted-media', allowfullscreen: true %>
      </div>

      <div class="youtube-video p-5">
        <%= content_tag 'iframe', nil, width: 500, height: 300, src: "#{@video[2].video}", \
            frameborder: 0, gesture: 'media', allow: 'encrypted-media', allowfullscreen: true %>
      </div>
    </div>

    <div class="field is-grouped is-grouped-centered">
      <div class="columns">
        <div class="control cloumn is-half">
          <%= link_to root_path, method: :get, class: 'm-2 mt-6 custom-btn btn-1 submit-button button back-btn' do %>
            トップページに戻る
          <% end %>
        </div>
      </div>
    </div>

    <div class='twitter-button'>
      <%= link_to "https://twitter.com/share?&url=https://mukinator.herokuapp.com/results/#{@result.id}&text=【#{@result.reason.trouble.name}】の解決方法がわかりました。&hashtags=MUKINATOR,ムキネイター,筋トレ,筋肉,悩み&lang=ja", title: 'Twitter', target: :_blank, rel: 'noopener noreferrer' do %>
        <i class="fab fa-twitter share-button"></i>
      <% end %>
    </div>
  </div>
</main>
