<div class="p-6">
  <h1 class='result-title'>解決策</h1>
</div>
<!--
 筋トレ名言 
<div id="loader-bg">
  <div id="loader">
    <%= render 'results/wise_sayings' %>
  </div>
</div>

 解決策 
<div id="wrap">
  <div id='resut_wrapper' class='result' >
    <%= @result.name %>のお悩みは、<br>
    <p><%= @result.reason.trouble.name %></p>
    <p>解決方法は、</p>
    <h1>筋トレです</h1>
    <p><%=@result.reason.name%></p>
  </div>
</div>
-->

<!-- ローディングページ -->
<div id="loading">
  <div id="loader">
    <%= render 'results/wise_sayings' %>
    <%= image_tag 'img-loading.gif', width: "80", height:"80", alt:"Now Loading..." %>
    <p>解決策考案中...</p>
  </div>
</div>

<!-- 解決策ページ -->
<div id="wrap">
  <div id='resut_wrapper' class='result' >
    <%= @result.name %>さんのお悩みは、<br>
    <p class='trouble-name'><%= @result.reason.trouble.name %></p>
    <p>解決方法は、</p>
    <h1 class='solution'>筋トレ</h1>
    <p><%=@result.reason.name%></p>
    <h4>単純さ。揺れるものは全て脂肪だ。</h4>
    <h5>アーノルド・シュワルツェネッガー</h5>
  </div>
</div>

<!-- YouTube動画表示エリア -->
<div class="youtube-videos">
  <div class="youtube-video">
    <p class='video-title'><%= @video[0].title %></p>
    <%= content_tag 'iframe', nil, width: 500, height: 300, src: "#{@video[0].video}", \
        frameborder: 0, gesture: 'media', allow: 'encrypted-media', allowfullscreen: true %>
  </div>

  <div class="youtube-video">
    <p class='video-title'><%= @video[1].title %></p>
    <%= content_tag 'iframe', nil, width: 500, height: 300, src: "#{@video[1].video}", \
        frameborder: 0, gesture: 'media', allow: 'encrypted-media', allowfullscreen: true %>
  </div>

  <div class="youtube-video">
    <p class='video-title'><%= @video[2].title %></p>
    <%= content_tag 'iframe', nil, width: 500, height: 300, src: "#{@video[2].video}", \
        frameborder: 0, gesture: 'media', allow: 'encrypted-media', allowfullscreen: true %>
  </div>
</div>